.logo {
  height: 6em;
  width: 18em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    padding-block: 20px;
    border-bottom:#000000 2px solid;
}

nav {
    display: flex;
    gap: 100px;
    padding-right: 50px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    text-decoration: underline;
    color:gray;
}

.hero-image {
    width: 35%;
    margin-left: auto;
    text-align: center;
    color: gray;
}

.hero-image img {
    aspect-ratio: 1.5/1;
    border:#000000 2px solid;
    max-width: 100%;
}

.hero {
    display: flex;
    align-items: center;
    padding-inline: 50px;
    padding-block: 50px;
    border-bottom:#000000 2px solid;
}

.hero-text {
    max-width: 50%;
}

.info-cards {
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
    padding-block: 50px;
}

.info-cards img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1.5/1;
}

.info-card {
    max-width: 30%;
}

body {
    background-color: white;
    line-height: 1.5;
}

.resourcetable, th, td {
    border: #000000 2px solid;
}

/*time for phones who even uses a phone man why do i have to code this everyone throw out their phone*/
@media (max-width: 700px) {
  .hero {
    flex-direction: column;
  }
  .hero-text {
    max-width:100%
  }
  .hero-image {
    max-width: 100%;
    margin-left: 0;
    width:100%
  }
  .info-cards {
    flex-direction: column;
    align-items: center;
  }
  .info-card{
    max-width: 100%;
  }
  header {
    flex-direction: column;
    align-items: center;
    padding-inline: 0;
  }
  nav {
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 0;
  }
}